
@import url('https://fontlibrary.org/face/gauge');

/* 
TEXT CHANNELS
*/

/* Default Text Channels */
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 { color: rgb(74, 210, 255); }

/* Selected Channel Text / Voice??? */
.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 { color: rgb(0, 117, 156); }

/* Hovered Text / Voice */ 
.nameHoveredText-1uO31y, .nameHoveredVoice-YJ1Vfd { color: rgb(127, 225, 255); }

/* Default Muted Channel */ 
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ { color: rgb(0, 77, 102); }

/* Unread Text Channel */
.nameUnreadText-DfkrI4 { color: rgb(222, 252, 255); }
.wrapperHoveredText-2geN_M, .wrapperHoveredVoice-3ItgyI { cursor: pointer;background-color:rgba(20,20,20,.5); }
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM { background-color: rgba(20,20,20,.5); }
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO { background-color: rgba(20,20,20,.5); }
.theme-dark .hljs { background-color:rgba(20,20,20,.7); }

/* CSS CODE */
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline { background:rgba(20,20,20,.5); }

/*
CATEGORIES
*/

/* Default Category / Collasped Category */
.nameCollapsed-34uFWo, .nameDefault-2DI02H { color: rgb(74, 210, 255); }

/* Default Hovered Category */
.nameHovered-1gxhWH, .nameHoveredCollapsed-2orEWB { color: rgb(127, 225, 255); }

/* Default Muted Category */
.nameMuted-1MCOt4 { color: rgb(0, 77, 102); }

/* Default Unread Category */
.nameUnread-njOjIS { color: rgb(222, 252, 255); }

/* 
CHANNEL NAME TOP OF SCREEN
*/

/* Channel Name */
.theme-dark .channelName-3stJzi, .theme-dark .groupDM-3qU0Ks .channelName-3stJzi, .theme-dark .groupDMManaged-1GyXtq .channelName-3stJzi, .theme-dark .input-autosize-input, .theme-dark .input-autosize-input:focus { color: rgb(74, 210, 255);font-family: GaugeRegular;font-weight:normal;font-style:normal;}

/* 
POP UP
*/

/* Header to Pop Up */
.theme-dark .defaultColor-1_ajX0 { color: rgb(74, 210, 255); }

/* Small Pop Up Text */
.theme-dark .primary-jw0I4K { color: rgb(74, 210, 255); }

/* Pop Up Close Button */
.theme-dark .close-18n9bP { color: rgb(74, 210, 255); }

/* Transition to Pop Up */
.header-1R_AjF { transition: box-shadow 0.1s ease-out; word-wrap: break-word; }
.theme-dark .modal-3HD5ck{ background-color: rgb(20, 20, 20);}
.lookFilled-1Gx00P.colorBrand-3pXr91{	background-color:rgb(30,30,30);}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover{	background-color:rgb(40,40,40);}
.theme-dark .cardPrimaryEditable-3KtE4g {	background:rgb(60,60,60);	border-color: rgb(32, 34, 37);}

/* Delete Message  / Image */
.disableInteraction-_YeVcv{	background:rgba(20,20,20, .3);}
.item-1GzJrl{	background:rgba(20,20,20, .7);}

/* 
Unread Messages Alert 
*/
.theme-dark .friends-table .messages .divider.divider-red > span, .theme-dark .messages-wrapper .messages .divider.divider-red > span { color: rgba(74, 210, 255, 0.8); }
.theme-dark .friends-table .messages .divider.divider-red > div, .theme-dark .messages-wrapper .messages .divider.divider-red > div { background: rgb(74, 210, 255);opacity: 0.4; }
.theme-dark .timestampCozy-2hLAPV { color: rgba(74, 210, 255, 0.8); }

/* 
Setting / Voice Connecting Showing / Bottom Left 
*/

/* Top One */
.container-1UB9sr { -webkit-box-align:center;align-items:center;background:transparent;border-bottom:1px solid rgb(54, 57, 63);display: flex;flex-shrink:0;font-size:14px;font-weight: 500;padding: 10px; }

/* Bottom One */
.container-2Thooq {     -webkit-box-align: center;    background: transparent;    display: flex; flex-shrink: 0;    font-weight: 400;    margin-bottom: 1px;    padding: 0px 10px; }

/* 
SERVER LIST ON LEFT
*/

/* Friends Online */
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM{	font-size:9px;	left: -20%;}

/* Guild Seperator */
.theme-dark .guildSeparator-1X4GQ1:after {content: " ";	height:2px;	left: 0%;right:0%; }
.guild-1EfMGQ .avatar-small { background-size: 36px 36px; }
.guild-1EfMGQ.selected-ML3OIq:before { margin-bottom: -1px;	margin-top: -17px; }
.guild-1EfMGQ.unread-qLkInr:before { margin-bottom: -1px; margin-top: -17px; }
.theme-dark .guildsWrapper-5TJh6A {	background: transparent !important; }
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before, .guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before { height:34px;width:10px;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ+.guild-1EfMGQ {margin-bottom: 10px;margin-top: 1.5px;}
.guildsWrapper-5TJh6A {width: 50px;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {height:36px; width:36px;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 {width:36px;height:36px;}
.iconSizeLarge-161qtT {	width:36px;	height:36px;}
.icon-3o6xvg {background-size: 100% 100%}
.noIcon-1a_FrS {background-color: transparent;color: rgb(74, 210, 255);border-radius: 0;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 {background-color: transparent !important;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a { width:36px;height:36px;}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq { background-color: transparent;border-radius: 0;}

/*
IN CALL
*/
.video-1FfuMD,.theme-dark .private-channel-call {background-color: rgba(0,0,0,0);}
.theme-dark .wrapper-29NfPK {background-color: rgba(32, 34, 37, 0);}

/*
Server Settings
*/

.theme-dark .select-2TCrqx .Select-option.is-selected {	background-color:rgba(20,20,20, .7);}
.Select .Select-menu {background-color:rgba(20,20,20, .3);}
.theme-dark .card-FDVird:before {background-color:rgba(30,30,30, .6);}
.theme-dark .select-2TCrqx .is-focused .Select-control {background-color:tranparent;}
.theme-dark .select-2TCrqx .Select-menu-outer {	background:transparent; }
.theme-dark .select-2TCrqx .Select-option.is-focused, .theme-dark .select-2TCrqx .Select-option:hover {	background-color:rgba(30,30,30, .6);}

/* 
SERVER NAME
*/

.header-2o-2hj {color: rgb(74, 210, 255);}

/*
HOME ICON
*/
.guilds-wrapper .guilds .home-icon {color: rgb(74, 210, 255);height:36px;width:36px;}

/*
SELECT STATUS
*/

/* Text */
.theme-dark .item-1GzJrl:hover {color: rgb(127, 225, 255);background-color:rgba(20,20,20,7.);}
.theme-dark .item-1GzJrl{color: rgb(74, 210, 255);background:rgba(20,20,20,7.);}

/* 
EMOJI PICKER
*/
.popout-3sVMXz, .popouts-3dRSmE{color:rgba(20,20,20,.7) !important;background-color:rgba(20,20,20,.7) !important;   }

.emojiPicker-3m1S-j .header-1nkwgG{color:rgb(20,20,20);}
.emojiPicker-3m1S-j{ background-color:rgb(20,20,20);}
.emojiPicker-3m1S-j .category-2U57w6{ background-color:rgb(20,20,20);}
.emojiPicker-3m1S-j .header-1nkwgG .search-bar{background-color:rgb(20,20,20);}
.search-bar.search-bar-light input{ color: rgb(74, 210, 255);}
.search-bar input {color: rgb(74, 210, 255);}

/* 
EMOJI PICKER IN MESSAGE BOX
*/

.theme-dark .selectorSelected-1_M1WV{background-color:rgba(30, 30,30, .5);}
.theme-dark .contentTitle-2tG_sM strong {color: rgb(74, 210, 255); }
.theme-dark .contentTitle-2tG_sM { color: rgb(74, 210, 255); }
.autocompleteRowVertical-q1K4ky { padding: 0px 8px; background-color:rgb(20,20,20);}
.marginLeft8-1YseBe { color: rgb(74, 210, 255);}
.autocompleteInner-zh20B_ { padding-bottom: 0px; }

/*
CALENDAR
*/

.theme-dark .calendarPicker-2yf6Ci .react-datepicker{	background-color:rgb(20,20,20);}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw{	background-color:rgb(20,20,20);	border-top:0px solid (20,20,20);}
.theme-dark .datePicker--XZbmJ{	background-color:rgb(20,20,20);}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header{border-color:0px solid ( 20,20,20);}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day{color:rgb(74,210,255)!important;}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month{color:rgb(74,210,255)!important;}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month{	background-color:rgb( 20,20,20)!important;	color:rgb(74,210,255)!important;}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover{background-color:rgba( 30, 30,30, .6)!important;}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name{	color:rgb(74,210,255)!important;}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4{	color:rgb(74,210,255)!important;}
.theme-dark .option-96V44q.selected-rZcOL-{	background: rgba(30, 30, 30, .7);}
.theme-dark .search-results-wrap .channel-separator .channel-name{	background-color: rgb(20,20,20);color: rgb(74, 210, 255);}
.theme-dark .search-results-wrap .search-result .search-result-message.hit{	border:transparent;background: rgba(30, 30, 30, .7);box-shadow: 0px 0px #141414;}
.theme-dark .search-results-wrap .search-result:before{	background: rgba(20,20,20, 0.0);}
.theme-dark .search-results-wrap .search-result:after{	background: rgba(20,20,20, 0.0);}
.search-results-wrap{	background-color: rgb(20,20,20)!important;border-bottom-color: rgb(20, 20, 20);}
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV {color: rgb(74, 210, 255); }
.resultsGroup-r_nuzN { margin-top: -1px; padding-bottom: 10px;padding-top: 10px position: relative; background-color: rgb(20,20,20);}
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- { color: rgb(74, 210, 255);}
.theme-dark .option-96V44q .answer-1n6g43, .theme-dark .option-96V44q .nonText-3CRkO0, .theme-dark .option-96V44q strong { color: rgb(74, 210, 255);}
.theme-dark .search-results-wrap .empty-results-wrap, .theme-dark .search-results-wrap .error-wrap{  background-color:rgb(20,20,20);}
.theme-dark .search-results-wrap .search-header .tab, .theme-dark .search-results-wrap .search-header .total-results{ background-color:rgb(20,20,20);}
.theme-dark .search-results-wrap .search-header{background-color:rgb(20,20,20);}
.theme-dark .search-results-wrap .search-header .tab, .theme-dark .search-results-wrap .search-header .total-results{color:rgb(74, 210, 255);}
.container-1YxwTf{ background-color:transparent;}

/*
NOTES PAGE
*/
.theme-dark .header-ykumBX{ background-color:rgb(20,20,20);}
.messagesPopout-24nkyi { -webkit-box-flex: 1; border-radius: 0px 0px 5px 5px; box-sizing: border-box; flex: 1 1 0%; padding: 13px 5px 7px 13px; background-color:rgb(20,20,20);}
.DevilBro-modal .tab:hover { border-bottom-color: rgb(74, 210, 255); }
.DevilBro-modal .tab { color:rgb(74, 210, 255);}
.quickSelectClick-1HOWp1{ color:rgb(74, 210, 255);}
.theme-dark .header-ykumBX .title-3pkaKd{ color:rgb(74, 210, 255);}

/*
MESSAGE BOX 
*/
/* Attach Button */
.attachButton-1UjEWA{border-right-width: 2px;margin-top: 2px;padding-top:8px;border-top-right-radius:0px;border-top-left-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;background-color:rgb(20,20,20);width:40px;height:40px;}
.scrollbarGhostHairline-1mSOM1 { background-color:rgb(20, 20, 20);}
.theme-dark .chat form{	height:84px;margin-top: -25px;margin-bottom: 0px;}
/*
SCROLL BARS
*/
::-webkit-scrollbar-thumb {border-radius:1px!important;border-color: transparent !important;background: (20,20,20) !important;} 
::-webkit-scrollbar, ::-webkit-scrollbar-track-piece {width:8px !important;border-color: transparent !important; background: transparent !important;} 
::-webkit-scrollbar-corner {display: none !important}
::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0)!important}
/* 
CLICKABLE PROFILE
*/

/*
Status
*/
.account .status {	border: 2px #141414; }
.channel-members .avatar-small .status { border-color: rgba(0, 0, 0, 0.7) !important; }
.status-offline { background-color:  #982929; }
#user-profile-modal .guilds-1q_RqH .guild:hover .status {border: 2px solid #141414;}
#user-profile-modal .avatar-profile .status {border: 4px solid #141414;}
#user-profile-modal .avatar-profile .status, #user-profile-modal .guilds-1q_RqH .guild-1EfMGQ .status { border-radius: 0; }
#user-profile-modal .avatar-wrapper .avatar-profile .status{box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);	right: 0;bottom: 0;}
#user-profile-modal .guilds-1q_RqH .guild-1EfMGQ .status { border: 2px solid rgba(64, 68, 74, 1); width: 9px; height: 9px; }
.status-invisible, .status-offline { background-color: #999999; }
.avatar-small .status {width: 8px; 	height: 8px;border-radius: 0px; }
.status-oxiHuE { border-radius: 0;}
.statusProfile-3ynqtt { height: 21px;    width: 21px;}
.theme-dark .status-2s6iDp {height: 8px;width: 8px;border: 2px solid rgba(0, 0, 0, 0.6) !important;}
.small-5Os1Bb .statusTyping-2ed9jJ { border-radius: 0;width: 26px !important;}
.status-oxiHuE { border: 2px solid rgba(38, 42, 53, 0.91) !important;}

/* Friend Button */
/* Spotify Friend Button */
.lookInverted-2D7oAl.colorGreen-29iAKY{	background-color:rgb(20,20,20);	color: rgb(74, 210, 255);}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover{background:rgba(30,30,30,1);}
/* Playing Game Friend Button */
.lookInverted-2D7oAl.colorBrand-3pXr91{	background-color:rgb(20,20,20);	color: rgb(74, 210, 255);}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover{background-color:rgb(30,30,30);}
/* Normal Friend Button */
.lookFilled-1Gx00P.colorGreen-29iAKY{	background-color:rgb(20,20,20);}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover{	background:rgb(30,30,30);	color: rgb(74, 210, 255);}
.headerTop-3C2Zn0{   background-color:rgb(0, 77, 102);}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 { background-color: rgb(20, 20, 20); color: rgba(255, 255, 255, 0.8);}
.activity-11LB_k {   background-color: rgba(20, 20, 20, 1);  padding: 10px; }
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7 {color: rgb(74, 210, 255);} 
.bodyLink-3A8Buv:hover{color: rgb(74, 210, 255);}
.bodyLink-3A8Buv {color: rgb(74, 210, 255);}
.textRow-19NEd_ {color: rgb(74, 210, 255);}
.bar-3urHkF { background-color:rgb(0, 77, 102);   color:rgb(74, 210, 255);}
.barInner-3NDaY_{ background-color:rgb(74, 210, 255);}
.directionRow-3v3tfG { -webkit-box-direction: normal;    -webkit-box-orient: horizontal;     flex-direction: row; }
.activityName-1IaRLn{ color:rgba(74, 210, 255, 1);}
.listenAlongIcon-2WbU7U { color: rgb(74, 210, 255);     height: 24px;     width: 24px; }
.theme-dark .activityProfile-2bJRaP .content-3JfFJh, .theme-dark .activityProfile-2bJRaP .details-38sfDr, .theme-dark .activityProfile-2bJRaP .name-29ETJS, .theme-dark .activityUserPopout-2yItg2 .content-3JfFJh, .theme-dark .activityUserPopout-2yItg2 .details-38sfDr, .theme-dark .activityUserPopout-2yItg2 .name-29ETJS, .theme-light .activityProfile-2bJRaP .content-3JfFJh, .theme-light .activityProfile-2bJRaP .details-38sfDr, .theme-light .activityProfile-2bJRaP .name-29ETJS, .theme-light .activityUserPopout-2yItg2 .content-3JfFJh, .theme-light .activityUserPopout-2yItg2 .details-38sfDr, .theme-light .activityUserPopout-2yItg2 .name-29ETJS {     color: rgba(74, 210, 255, 1); }
.button-2b6hmh:hover{background-color: rgba(20, 20, 20, .3)!important;    opacity: 1; }
.header-QKLPzZ{background-color:rgb(0, 77, 102);}
.tabBarContainer-1s1u-z{background-color:rgb(20,20,20);}
.root-SR8cQa .body-3ND3kc {background-color:rgb(20,20,20);}
.activity-1ythUs{background-color:rgb(20,20,20);}
/* 
MEMBER LIST
*/
.theme-dark .membersGroup-v9BXpm{color:rgb(74, 210, 255)!important;}
.membersGroup-v9BXpm{height:35px;color:rgb(74, 210, 255);}
.theme-dark .member-3W1lQa:hover .content-OzHfo4{background-color:rgba(20,20,20,.5);}

/*
FRIENDS LIST
*/
.theme-dark #friends .friends-table .friends-row:hover { background: rgba(20, 20, 20, .5);border-color: transparent; }
.private-channels .channel.selected a { background-color: rgba(20, 20, 20, 0.5);color: rgb(255, 255, 255); }
.private-channels .channel:hover a {background-color: rgba(20, 20, 20, 0.5); color: rgba(74, 210, 255, 1); }
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover{ background-color: rgba(20, 20, 20, 0.5);color: rgba(74, 210, 255, 1); }
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action{ background-color: rgba(20, 20, 20, 0.5); color: rgba(74, 210, 255, 1); }
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected){ background-color: rgba(20, 20, 20, 0.5);}
/*
INVITE LIST
*/
.theme-dark .footer-1FPmkC{ background-color: rgb(20, 20, 20); }
.lookOutlined-3sRXeN.colorGreen-29iAKY{ border-color:rgba(74, 210, 255, .3);    color:rgb(74, 210, 255);}
.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp {    color: rgb(0, 77, 102); }

/*
PRIVACY SETTINGS
*/
.theme-dark .footer-2yfCgX{	background:rgb(20, 20, 20);}

/* 
HELP PAGE TOO BRIGHT!
*/
.need-help-modal.deprecated .header	background-color:rgb { (0, 77, 102)!important; }
.form-deprecated .form-inner, .form.deprecated .form-inner{	background-color:rgb(20, 20, 20)!important; }
.need-help-modal.deprecated .footer	background-color:rgb { (20, 20, 20)!important; color:rgba(74, 210, 255, 1);	border-radius: 0px 0px;	border-top:0px solid #141414;}
.need-help-modal.deprecated .header h1{	color:rgba(74, 210, 255, 1);}

/*
GAMES TAB
*/

/* Message Button / Play Button */
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover, .theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover	{ background:rgba(40,40,40,.8);	color:rgb(74, 210, 255);}

/* Top of Game / Header */
.theme-dark .header-1RC2Wb{background:rgba(0, 77, 102, .7);}
.theme-dark .header-1RC2Wb:hover{background:rgba( 0, 77, 102, 1)!important;}

/* Body of Game / Body */
.theme-dark .body-SKIE6r{background:rgba(20, 20, 20, .7);}
.theme-dark .card-7JP0BX{color:rgb(74, 210, 255);}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover{	background:rgb(30,30,30);	color:rgb(74,210,255);}

/*
Background stuff 
*/

#app-mount .activityFeed-28jde9,
#app-mount .da-activity-feed { background-color: transparent;}

.app {background-image: url("https://cdn.discordapp.com/attachments/464721298866831372/469742557153460224/E5taMig.png");background-size: cover !important;background-position: center !important;}

/* Surrounding Message Box */
.chat-3bRxxu form, .channelTextArea-rNsIhG, .inner-zqa7da { background-color: transparent !important; }
.app .chat-3bRxxu, .app .messagesWrapper-3lZDfY, .app .content-yTz4x3    { 	background: transparent; }	
/* End Of Surrounding Message Box */

/* Jump to Present Box */
.messages-3amgkR, .messagesWrapper-3lZDfY, .content-yTz4x3, .dividerRed-MKoLlr, .newMessagesBar-mujexs, .hasMore-3e72_v, .jumpToPresentBar-9P20AM  { background-color: transparent; }

/* Date of Message */
.theme-dark .divider-3gKybi>span{ background:rgb(20,20,20);color:rgb(74,210,255)!important;font-size:12px;padding: 2px; }
/* Bottom Button */
.jumpToPresentBar-9P20AM button:first-child, .jumpToPresentBar-9P20AM button:last-child{background-color:rgba(20,20,20, .5); }

/* Top Button */
.newMessagesBar-mujexs button:hover{background-color:rgba(30,30,30, .4);}
.newMessagesBar-mujexs button:first-child, .newMessagesBar-mujexs button:last-child{background-color:rgba(20,20,20, .5);}
/* End of Jump to Present Box */
.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {background-color:transparent;border-color: transparent;}
.channels-Ie2l6A {background-color: rgba(0,0,0,0);}
.container-PNkimc {	background-color:  transparent;}
.layers-3iHuyZ, .layer-3QrUeG, .container-2lgZY8, .typing-2GQL18 {background: transparent !important;}
.layers-3iHuyZ {background: rgba(0,0,0, 0.3) !important;}
.container-2lgZY8 {	background-color:  rgba(0,0,0,0);}
.theme-dark .layer, .theme-dark .layers {background: transparent;}
.guilds-wrapper {background-color: transparent;}
.theme-dark .chat form {background-color: transparent; box-shadow: none;}
.theme-dark .chat>.content {background-color: transparent;}
.theme-dark .chat {	background-color: transparent;}
.theme-dark .friends-table, .theme-dark .messages-wrapper {	background-color: transparent;}
.theme-dark .members-1998pB {background-color: transparent;}
.theme-dark .title-3qD0b- {background: transparent;   box-shadow: none;}
.theme-dark #friends {background-color: transparent;}
.theme-dark .headerBar-UHpsPw { background: transparent;}
.theme-dark .ui-standard-sidebar-view .content-region { background: transparent;}
.theme-dark .ui-standard-sidebar-view .sidebar-region {	background: transparent;}
.theme-dark .ui-standard-sidebar-view {	background: transparent;}